In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
url = 'https://raw.githubusercontent.com/yveness7/Marine_Mammals_vs_Climate_Change_mid_term_project/main/mammals%20data/arctic_ice_extent.csv'

ice = pd.read_csv(url)
ice

    year  extent
0   1979   6.903
1   1980   7.544
2   1981   6.903
3   1982   7.166
4   1983   7.221
5   1984   6.426
6   1985   6.491
7   1986   7.157
8   1987   6.963
9   1988   7.126
10  1989   6.907
11  1990   6.036
12  1991   6.302
13  1992   7.209
14  1993   6.184
15  1994   6.961
16  1995   6.027
17  1996   7.191
18  1997   6.628
19  1998   6.351
20  1999   5.757
21  2000   5.978
22  2001   6.603
23  2002   5.638
24  2003   6.007
25  2004   5.794
26  2005   5.319
27  2006   5.774
28  2007   4.155
29  2008   4.586
30  2009   5.119
31  2010   4.615
32  2011   4.344
33  2012   3.387
34  2013   5.054
35  2014   5.029
36  2015   4.433
37  2016   4.165
38  2017   4.665
39  2018   4.656
40  2019   4.192
41  2020   3.818
42  2021   4.720
43  2022   4.670

## Calculating rate of change

In [6]:
rate_of_change = lambda x1, y1, x2, y2: (y1 - y2) / (x1 - x2) if x1 != x2 else float('inf')


ice['rate_of_change'] = ice.apply(lambda row: rate_of_change(row['year'], row['extent'], 
                                ice.at[row.name - 1, 'year'] if row.name > 0 else row['year'], 
                                ice.at[row.name - 1, 'extent'] if row.name > 0 else row['extent']), axis=1)

ice

    year  extent  rate_of_change
0   1979   6.903             inf
1   1980   7.544           0.641
2   1981   6.903          -0.641
3   1982   7.166           0.263
4   1983   7.221           0.055
5   1984   6.426          -0.795
6   1985   6.491           0.065
7   1986   7.157           0.666
8   1987   6.963          -0.194
9   1988   7.126           0.163
10  1989   6.907          -0.219
11  1990   6.036          -0.871
12  1991   6.302           0.266
13  1992   7.209           0.907
14  1993   6.184          -1.025
15  1994   6.961           0.777
16  1995   6.027          -0.934
17  1996   7.191           1.164
18  1997   6.628          -0.563
19  1998   6.351          -0.277
20  1999   5.757          -0.594
21  2000   5.978           0.221
22  2001   6.603           0.625
23  2002   5.638          -0.965
24  2003   6.007           0.369
25  2004   5.794          -0.213
26  2005   5.319          -0.475
27  2006   5.774           0.455
28  2007   4.155          -1.619
29  2008   4.586           0.431
30  2009   5.119           0.533
31  2010   4.615          -0.504
32  2011   4.344          -0.271
33  2012   3.387          -0.957
34  2013   5.054           1.667
35  2014   5.029          -0.025
36  2015   4.433          -0.596
37  2016   4.165          -0.268
38  2017   4.665           0.500
39  2018   4.656          -0.009
40  2019   4.192          -0.464
41  2020   3.818          -0.374
42  2021   4.720           0.902
43  2022   4.670          -0.050

## Calculate average rate of change for sea ice per decade

In [10]:
ice['decade'] = (ice['year'] // 10) * 10
#ice['decade']
# Calculating average rate per decade
avg_rate_per_decade = ice.groupby('decade')['rate_of_change'].mean()
avg_rate_per_decade

decade
1970         inf
1980    0.000400
1990   -0.115000
2000   -0.063800
2010   -0.092700
2020    0.159333
Name: rate_of_change, dtype: float64

In [13]:
avg_rate_per_decade = avg_rate_per_decade.drop(1970)

decade
1980    0.000400
1990   -0.115000
2000   -0.063800
2010   -0.092700
2020    0.159333
Name: rate_of_change, dtype: float64